* {
    padding: 0;
    margin: 0;
}

.card-body-0 {
    background-color: lightgrey;
}

.card-body-1 {
    background-color: lightgrey;
}

ul.list-group-0 > li {
    background-color: lightgrey;
    font-weight: 500;
}

.container-fluid {
    padding-left: 2%;
    padding-right: 2%;
}

.button {
background-color: green;;
}
